@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Poppins:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif ;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer"
    
}



header{
    grid-area: header;
    background-color: #27374D;
    padding: 5px; 
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}



header nav ul li{
    padding: 10px;
    margin-left: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}
.dropdown-menu{
    background-color: #A9907E;
}


/* termina el header*/
main{
    grid-area: main;
    background-color: whitesmoke;
    
}


main h3{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}


.titulo{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.redondeo{
    border-radius: 45px 45px 200px 45px;
    -webkit-border-radius: 45px 45px 200px 45px;
    -moz-border-radius: 45px 45px 200px 45px;
    
}
.pdeimg, .tamaño{
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-left:25px
    
}


.pdeimg2, .tamaño2{
    display: flex;
    justify-content: left;
    padding: 50px;
    margin-left:25px;
}

.tabla{
    display: grid;
    justify-content: center;
    margin: 10px;
    padding: 10px;

}

.card{
    background-color: darkgrey;
    padding:30px;
    margin: 30px;
}


.tarjeta__father{
    display: flex;
    justify-content: center;
    margin-inline: inherit;
}

.tarjeta__father:hover .tarjeta{
    transform: rotateY(180deg);
}

.tarjeta{
    width: 400px;
    height: 500px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: all 600ms;
    
}
.tarjetaredondeo, .tarjeta__back{
    border-radius: 28px 28px 28px 28px;
    
}

.tarjeta__front, .tarjeta__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}


.tarjeta__back{
    transform:rotateY(180deg);
    background-color: white;
    height: 300px;
    width: 300px;
}

.body__tarjeta__back{
    padding: 40px;
    text-align: center;
}
.body__tarjeta__back p{
    text-align: center;
}
/*termina el main*/

footer{
    grid-area: footer;
    height: 100%;
    padding: 15px;
    background-color: #27374D;
}

footer h4{
    color: whitesmoke;
    padding: 5px;
}
footer section a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

@media (min-width:320px) and (max-width:599px) {
    .pdeimg, .pdeimg2{
        display: flex;
        flex-direction: column;

    }
}

@media (min-width:320px) and (max-width:599px){
    .tamaño, .tamaño2, .titulo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width:320px) and (max-width:599px){
    .iframe{
        width: 300px;
    }
}

@media (min-width:320px) and (max-width:599px) {
    .tarjeta__father{
            display: grid;
            align-items: center;
            margin-inline: inherit;
        
    }
    .tarjeta{
        width: 300px;
        height: 400px;
        transform-style: preserve-3d;
        transition: all 600ms;
        
    }
    
    
}